<h1>Contact Us</h1>

<h4>Phone: <%= @site_info.phone %></h4>

<h4>Address: <%= @site_info.address %></h4>

<h4>Email: mhbc@aol.com</h4>

<div id="facebook_logo">
    <%= link_to image_tag('facebook_logo_80.jpg'), @site_info.facebook %>
</div>