<h1>Articles Help</h1>


<p>
<em>Articles</em> can be used in a variety of ways on the website.
Notices to be displayed on the front page, stories posted on the
<em>News</em> page, and all of the content found under the menubar are
created as <em>Articles</em> with different settings on some of the
parameters.
</p>

<p>
To create a new article, go to the Articles index page and click on the
<em>New Article</em> button in the top-right.  To get to the Articles index page,
select <em>Edit Content</em> in the <em>Account</em> menu, and then click on the
<em>Articles</em> box.
</p>

<p>
There are two ways to edit an existing article.  First, one can go to the Articles
index page and click the <em>Edit</em> link to the right of the article's
summary blurb.  This will take you to the Edit form for that article - make the
desired changes to the fields in that form and then click the Save button at
the bottom when done.  You can also get to the edit form for an article which
you are currently reading by simply going to the navigation window at the top of
the browser, adding "/edit" to the end, and clicking the Enter key on the keyboard.
That is to say, if the path to the article of interest ends with "articles/35",
you change it to "articles/35/edit" and type return.
</p>

<h5>Articles Index Page</h5>
<p>
To get to the Articles index page, select <em>Edit Content</em> in the
<em>Account</em> menu, and then click on the <em>Articles</em> box.  On the
index page there is a button at the top-right for creating a <em>New Article</em>.
The articles are grouped into pages. To see the next page of articles, or to
quickly jump forward to a particular page of the index listing, there is a page
selector at both the top and bottom of the index listing.
</p>
<p>
At the top-left is a selector which controls what set of articles will be shown.
To display every existing article, choose <em>All</em>.  If you are interested
in seeing only those articles which are displayed on the front page of the site,
click the <em>Front Page</em> selection.  The <em>News</em> selection shows only
articles having no menu entry specified - those which will not be displayed under
any menu, but only the <em>News</em> page, and perhaps also the front page of
the site.  The <em>Menus</em> selection shows the opposite of the <em>News</em>
selection - only those articles which do have a menu location specified.  To show
only those articles that have not yet had their <em>Publish</em> flag set, select
the <em>Drafts</em> choice.
</p>

<p>
Under the selector that filters which set of articles will be listed is a second
selector.  This one controls the order in which the articles will be displayed -
either <em>Alphabetically</em> or in time sequence of when they were last edited.
</p>

<h5>Drafts</h5>
<p>When an article is being written, but is still in draft form, it can be
saved without immediately showing up on the website.  It will not appear on the
site until the <em>Publish</em> flag is set.  Until then, it is treated
as a <em>draft</em>.
</p>

<h5>Sorting</h5>
<p>
One of the parameters that can be set on each article is a <em>Ranking</em>
that governs the order in which groups of articles are displayed.  Higher ranked
articles are displayed first, from a highest priority of 10 to lowest of 1.
Articles with the same ranking are displayed with the newest (or most recently
updated) article shown first.
</p>

<h5>Front Page</h5>
<p>
Important announcements to be displayed on the front page are noted by setting
the <em>Front Page</em> flag on that article.  A summary blurb a few lines long
will be shown for each article along with a <em>Read More</em> link that will
take the reader to the full text of the story.  If the <em>Summary</em> field
is filled in, that content will be used for this blurb, otherwise the first few
lines of the article's body are used.
</p>

<h5>Menu System</h5>
<p>
In many cases, it will be desirable to group new articles with related content
under the menubar.  To do this, fill in the <em>Menu Path</em> field with the
list of menu entries that should be followed to get to this article.  The
value to enter in this field will be the sequence of menu items taken to get
to this article's page, starting with the value in the menubar.  The entries
are separated by colons.
</p>

<p>
Staff bio entries should have a menu value of <em>About:Staff</em>.
</p>

<h5>News Page</h5>
<p>
All articles that don't have a value specified in the <em>Menu Path</em> field
will appear on the News Page instead.  A summary blurb is displayed for each
article (as is done on the Front Page) with a link to the full text.
</p>

<h5>Photos and Photo Galleries</h5>
<p>
A photo or a photo gallery can be attached to each article.  If the photo field
is filled in with the name of a photo that has been uploaded into the photo
library, it will be displayed at the top of the article.  If the gallery field
is filled in with the name of an existing photo gallery, the first photo in the
gallery will be shown at the top of the article with a link to the rest of the
photos in the gallery.  It doesn't make sense to fill in both fields, only one
or the other.
</p>

<h5>Byline</h5>
<p>
A <em>byline</em> is displayed at the top of each article that lists the author
and the most recent edit date for the story.  The author field is filled in
automatically with the name of the user who made the edit.  If an article is
originally written by one user and later changed by another, the author field
will list the names of all contributors to the story.  The field's value can
be changed manually if desired, but usually the automatic content should suffice.
</p>

<div class="well">
    
<h5>Formatting</h5>
<p>
The content entered for the article's body is processed by a text-formatting
tool before displaying it.  This processing supports a wide variety of styles
such as bold, italic, large-font headlines, etc. as well as things such as
bullet lists and links to other web pages.  The full documentation can be
found in the right hand column of the page whose link follows.  The page that
is immediately linked below contains some of the more common features.
</p>
<a href="http://www.redcloth.org/textile/phrase-modifiers">
    Red Cloth Text Formatting Notations</a>

<br></br>
<p>
In addition to the capabilities described in the documentation linked above,
if you want to put a section of the article's text into a box like this one,
you can surround it with:
<pre>
&lt;div class="well"&gt;
   .
   .
   .
&lt;/div&gt;
</pre>
</p>
</div>