<h1>Site Info Help</h1>

<p>
Most of the information accessed through this page is unlikely to ever change,
and thus won't need editing.  This includes items such as church name, address,
phone number, etc.
</p>
<p>
There are two items in the SiteInfo collection that are more likely to need
occasional edits - <em>Weekly Schedule</em> and <em>Menubar</em>.
</p>
<p>
The <em>Weekly Schedule</em> field controls what appears in the box with that
title in the left sidebar of the display.  To modify or add entries in that
sidebar box, edit this field on the Site Info Edit page.  The documentation
on <em>Formatting</em> found at the bottom of the <em>Articles</em> help page
also applies to content in this field.
</p>
<p>
The <em>Menubar</em> field is a space-separated list of names which will be
added to the menubar at the top of the display.  The menus under these items will
provide the access to most of the <em>Articles</em> added to the site.  The only
exception are <em>News</em> stories which will be listed on the <em>News</em>
page without having any <em>Menu</em> value listed when that Article is created.
An article that is intended to appear in a specific menu will need to be in a
menu or sub-menu underneath one of the values listed in this field.
</p>
<p>
See the <em>Menu</em> discussion on the <em>Articles</em> help page for more detail.
</p>
