<h1>Welcome</h1>


<p>
On this website you can find church contact information, a calendar
of upcoming events, and a wide variety of articles.  The articles
cover detail about upcoming events, reflections on past events, and
description of various aspects of the church's mission and activities.
</p>

<p>
If you want to refer back to this page later, you can find it by clicking the
<em>Help</em> entry at the bottom of the <em>About</em> menu.
</p>

<h5>Footer</h5>

<p>
At the bottom of the page is a footer with various pieces of contact
information for the church.  Clicking on the Facebook logo at the
bottom left will take you to the church's Facebook page.
</p>

<h5>Articles</h5>

<p>
On the website's Home page are short summaries of a few currently significant
articles.  You can read the full text of a story by clicking on the
<em>read more</em> link at the bottom-right of the summary.
</p>

<p>
A variety of articles that are less important or less current can be found
by clicking on the <em>News</em> item in the menubar at the top of the page.
The stories found there will be ordered from newer to older, with more
important stories being found toward the front even if they aren't quite as
new.
</p>

<p>
The stories are organized into pages, with a page selector found at both the
top and bottom of each page - clicking on the box with a 2 in it will take
you to the 2nd page of articles.
</p>

<p>
Clicking the <em>Blog</em> entry in the menubar will take you to a page that
contains articles which are not about Events, but rather contain Pastor Joel's
musings on a variety of topics.
</p>

<h5>Menubar</h5>

<p>
The menubar displayed at the top of the page allows navigating to different
areas of content by clicking on the appropriate item.  Some, like <em>News</em>
and <em>Blog</em> will take you directly to another page, while others will
display a menu of choices underneath when you click on that item.  Move the
mouse down the menu and click on the item of interest to go to that page.
</p>

<p>
As you move to different pages by traversing the menus underneath the menubar,
you will see a box appear toward the top of the <em>Sidebar</em> on the left
side of the page.  If there are other <em>child</em> or <em>sub-menu</em>
pages covering some additional detail related to the current page, you will
see links in that sidebar navigation box to take you to those 'child' pages.
In cases where there are no lower-level or 'child' pages, the navigation box
in the sidebar will show 'sibling' pages (other pages that are found under the
same parent menu as the current one is).  At some times, such as when you are
viewing the website's Home page, that navigation box on the top of the sidebar
will disappear.
</p>


<h5>Sidebar</h5>

<p>
In addition to the navigation box described above, which is sometimes seen, the
sidebar has a few pieces of standard content.  First is a list of the start
times for some of the main weekly activities at the church.  Below that is an
image of a map.  Clicking your mouse on that map image will take you to a page
showing Google Maps directions to the church.  
</p>

<p>
At the bottom of the sidebar is an image of a calendar.  Click on it to take you
to a calendar page showing events for the current month.  Clicking the next and
previous links at the top of that page will show the prior or following month.
Clicking on one of the events displayed in the calendar will take you to a page
giving detail for that event.
</p>

<h5>Photo Galleries</h5>

<p>
Some articles have one or more photos attached to them.  In these cases, the
page where the full body of that article is shown will display the photo at
the top. If a gallery of photos is attached to the article, at the bottom-right
of that photo a <em>More Photos</em> link will be shown.
Clicking that link will take you to a page showing small "thumbnail" images
of each photo in the gallery.  Clicking on the thumbnail will display a full
sized image.  Click on the browser's <em>Back</em> button (arrow at top-left
of browser window) to return to the gallery page.
</p>

<p>
There are a collection of galleries on different subjects that can be viewed
by clicking on the <em>Photo Galleries</em> item in the <em>About</em> menu.
</p>