<h1>Site Info Help</h1>

<p>
Most of the information accessed through this page is unlikely to ever change,
and thus won't need editing.  This includes items such as church name, address,
phone number, etc.
</p>
<p>
The one item in this page that is likely to occasionally need changing is the
<em>Weekly Schedule</em> listing that appears in the left sidebar.  To add or
modify entries in that list go to the <em>Site Info</em> page.
</p>