<h1>Events Help</h1>


<p>
<em>Events</em> are created to control what shows up in the <em>Calendar</em>.
Clicking on an event name in the calendar will take you to the page describing
that event.  That page will contain information about dates and times as well
as displaying the associated articles, which may describe detail about the
event, how to sign-up for it, or may even be a writeup describing what happened
at an event that has already occurred.
</p>

<h5>Title and Calendar Abbr.</h5>
<p>
Each event has 2 <em>names</em> - a short one for use in the calendar and a
full title for use on the page dedicated to that event.  Try to keep the short
name to fewer than 10 or so characters so that it won't overrun the boundaries
of the day's box inside the calendar.
</p>

<h5>Articles</h5>
<p>
Any number of articles describing the event can be attached.  They are listed
by the article name(s) with commas separating each one from the next.
</p>

<h5>Dates</h5>
<p>
Dates are processed by the software, so they need to be understood by it, which
means the format they are entered in is critical.  Only dates of the form
<em>yyyy-mm-dd</em> or <em>yyyy/mm/dd</em> are legal.
</p>

<h5>Start Time</h5>
<p>
The start time is displayed on the event page and in the calendar, but it isn't
used in any calculations, so the format isn't important.  Since it is displayed
in the calendar in front of the event's <em>Abbreviated Name</em> it is a good
idea to keep this as short as possible - use <em>7pm</em> not <em>7:00 p.m.</em>
for example.
</p>

<h5>One-time Events</h5>
<p>
To create an event that will happen only once on a single day, only the Event
name fields and the single <em>Date</em> field at the top is needed.  You don't
have to provide any articles, or even list a start time, though you probably
want at least one of those so that people know the schedule.  None of the
fields listed inside the gray box are needed for one-time events, skip past
them and click the <em>Save</em> button at the bottom.
</p>

<h5>Recurring Events</h5>
<p>
Events that span multiple days or occur on a regular basis require the field in
the gray box on the edit form to be filled in.  The event will occur on every
day from <em>Start Date</em> through <em>End Date</em> that falls on one of the
days of the week whose associated checkbox is clicked.  To start, none of those
checkboxes are clicked.  Unless you check at least one of them, entering a start
and end date will result in <strong>no</strong> dates being scheduled for this
event, since no days of the week were <em>enabled</em>.  An event that will
happen every Wednesday should have only the checkbox for Wednesday clicked and
all other days left disabled.
</p>

<p>
Recurring events that happen every week may sometimes have a conflict arise that
forces a given week to be cancelled.  The general every-week event be left as is,
with one or more dates entered in the <em>Cancelled Dates</em> field (comma
separated) causing the listed dates to be skipped.
</p>