<h1>Photos Help</h1>

<p>
Photos are uploaded through the <em>New Photo</em> button and are then 
available in the photo library.  Photos are used by attaching them to an
article, either individually or as part of a gallery that is attached to the
article.
</p>

<h5>New Photo</h5>
<p>
This button takes you to the page that allows uploading of photos into the
website's photo library.  Browse to the directory on your computer where the
desired photo resides and select it.  Then choose a name to use for this image
in the website's photo library.  When choosing a name, think about whether you
may want to use this image in a gallery and, if so, name it similarly to the
other images that will go into that gallery.  That will allow easier gallery
creation through the use of photo-name wildcards (see the Gallery section for
details on this).
</p>

<h5>New Gallery</h5>
<p>
This page allows the creation of galleries of photos related to a common theme
or event.  You will create a name for the gallery and select (by name) all of
the photos that are to be included in it.  The field that lists photos to be
included contains a comma-separated list of photo names (see the photo library
index if you've forgotten the name of a desired image).
</p>
<p>
The easiest way to include many photos in a gallery is to use <em>wildcards</em>
rather than naming each photo individually.  Use an asterisk in the name to
represent one or more arbitrary characters.  For example, <em>worship*</em> will
select every photo in the library that starts with <em>worship</em> regardless
of what numbers or letters follow.
</p>

<p>
To make it easier to lookup the names of photos, the <em>New Gallery</em> page
includes an index of all the photos in the library at the bottom of the page.
You can move from page to page in the photo index using the page-selectors at
the top and bottom of the photo index.  However, see the important caution below.
</p>
<div class="well">
    <span class="badge badge-warning">!</span>
    <strong>Warning</strong>
    <br></br>
    <p>
        In the <em>Gallery Edit</em> page don't scroll to another page
        of photos with unsaved edits in your form.  When moving to another
        page of the photo-index, any unsaved edits (for instance in the list
        of photos to be included in this gallery) will be lost.  Before moving
        to a new page in the photo-index, first click the <em>Save Changes</em>
        button, then click Back on your browser to return you to the Gallery
        Edit page, then you can select a new page of the photo-index to view.
    </p>
</div>
