<h1>All articles</h1>

<div class="row">
	<div class="new-content-button pull-right">
		<%= link_to "New Article", new_article_path, class: "link_button" %>
        <br></br>
	</div>
</div>

<div class="row">
	<%= will_paginate %>
</div>

<% @blurb = false %>
<div class="row articles">
	<%= render @articles %>
</div>

<%= will_paginate %>