<h1>All events</h1>

<div class="row">
	<div class="new-content-button pull-right">
		<%= link_to "New Event", new_event_path, class: "link_button" %>
		<br></br>
	</div>
</div>

<%= will_paginate %>

<ul class="simple-index">
	<%= render @events %>
</ul>

<%= will_paginate %>
