<div class="span2">
	<div class="thumbnail">
		<div class="photo-index-thumb">
			<%= link_to(image_tag(photo.image_url(:thumb)), photo.image_url) %>
		</div>
		<div class="thumb-name">
			<h5><%= (@show_id ? "#{photo.id}  " : "") + photo.name %></h5>
		</div>
		<% if @show_actions %>
			<div class="actions-row">
				<%= link_to "Edit", edit_photo_path(photo), class: "action_link" %>
				<%= link_to "Delete", photo, class: "action_link pull-right",
												method: :delete,
												data: { confirm: "Are you sure?" } %>
			</div>
		<% end %>
	</div>
</div>