<div class="span2">
	<div class="thumbnail">
		<div class="photo-index-thumb">
            <% if photo.image_url && photo.image_url(:thumb) %>
                <%= link_to(image_tag(photo.image_url(:thumb)), photo.image_url) %>
            <% end %>
		</div>
		<div class="thumb-name">
			<%= photo.name %>
		</div>
		<% if @show_actions %>
			<div class="actions-row">
				<%= link_to "Edit", edit_photo_path(photo), class: "action_link" %>
				<%= link_to "Delete", photo, class: "action_link pull-right",
												method: :delete,
												data: { confirm: "Are you sure?" } %>
			</div>
		<% end %>
	</div>
</div>