<h1><%= @gallery.name %></h1>

<% if @gallery.description.blank? == false %>
	<div class="gallery-description" %>
		<%= raw RedCloth.new(@gallery.description).to_html %>
	</div>
<% end %>

<% @photos = @gallery.photo_list() %>

<div class="photo-grid">
	<% @show_id = false %>
	<% @show_actions = false %>
	<%= render @photos %>
</div>
