/*$navbarBackground: #049cdb;*/
@import "bootstrap";

$grayMediumLight: #eaeaea;
$blue1: #36c;
$blueLighter: #69f;
$blueDarker: #36a;
$blueDark: #258;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 2.4em;
	letter-spacing: -1px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

h4 {
    margin-bottom: 2em;
}

h5 {
	margin-top: 2em;
}

p {
	/* font-size: 1.1em; */
	line-height: 1.5em;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#banner {
	background-color: $blue1;
	padding: 40px 38px;
}

.no-pad {
    background-color: $white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.navbar {
	color: #bbb;
	.brand {
		color: #eee;
		font-size: 16px;
		margin-left: 5px;
		/* font-weight: bold; */
	}
	.nav li a {
		color: #bbb;
		font-size: 12px;
		font-weight: normal;
		text-shadow: none;
		&:hover {
			color: white;
			background-color: $blueDark;
		}
	}
}

.navbar-inner {
	background-color: $blueDark;
	background-image: none;
}

.dropdown-menu {
	background-color: $blueDark;
	&:hover {
		color: white;
		background-color: $blueDark;
	}
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

/* body */

.body-area p {
	padding-right: 15px;
}

.selector .active {
    color: black;
    background-color: $grayLighter;
}

.new-content-button {
	margin-right: 10px;
	margin-bottom: 20px;
}

.content-authoring-page {
    .new-content-button {
        margin-bottom: 80px;
    }
    .link_button {
        padding: 10px;
    }
    .btn-info {
        padding: 10px;
    }
}

.link_button {
	padding: 5px;
	/* border: 1px solid $grayLighter; */
	border: 2px solid #aaa;
}

.btn-info {
    padding: 5px;
}

.photo-index-thumb {
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.thumb-name {
	text-align: center;
	font-size: 12px;
}

.thumbnail {
	margin-top: 5px;
	margin-bottom: 10px;
	h5 {
		margin-top: 5px;
	}
}

.gallery-cover {
	img {

	}
}

.photo-grid {
	margin-top: 15px;
}

/* Calendar */
.calendar-title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    a {
        margin: 0 40px;
        font-weight: normal;
        font-size: .3em;
    }
}

.calendar {
    margin-left: 20px;
    th {
        background-color: $blueLighter;
        width: 14.286%;
        text-align: center;
    }
    tbody {
        td {
            height: 80px;
            font-size: .8em;
            line-height: 1.4em;
        }
        .other-month {
            background-color: $grayLighter;
            font-size: .7em;
        }
        a {
            text-align: right;
        }
    }
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	a {
		color: $gray;
		padding: 10px 20px;
		&:hover {
			color: black;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	.info {
		padding: 10px 20px;
	}
}


/* sidebar */

.sidebar-block {
	margin: 20px 10px;
	padding: 10px 5px 10px 10px;
	background-color: $grayLighter;
    li {
        font-size: 0.9em;
    }
	p {
		font-size: 0.8em;
	}
	h2 {
		font-size: 1.5em;
		color: black;
		margin-bottom: 15px;
		text-align: left;
	}
	h5 {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 1em;
	}
	img {
		margin: 10px 0;
	}
    .divider {
        color: black;
    }
    .breadcrumb {
        background-color: #f9f9f9;
        margin: 0 0 15px;
    }
}

.sidebar-foo {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}


/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto !important;
	margin-bottom: 15px;
	@include box_sizing;
}

.simple_form {
	.control-label {
		font-size: 1.2em;
	}
	.help-block {
		font-size: 1.0em;
		color: gray;
	}
	.btn-primary {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	abbr {
		display: none;
	}
}

/* Index lists */

.simple-index {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

.action_link {
    padding: 0 10px;
}

.index_row {
	padding: 10px 0;
	overflow: auto;
	.title {
		float: right;
        text-align: right;
	}
	.gallery-title {
		float: left;
	}
	.gallery-row {
		line-height: 120px;
		display: table-row;
		vertical-align: middle;
	}
}


#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}


/* miscellaneous */

#facebook_logo {
    margin-top: 50px;
}

cite {
	font-style: italic;
}

.slide-photo {
	margin-bottom: 10px;
}

.gallery-link {
	margin-bottom: 15px;
}

.byline {
	font-size: 0.8em;
	color: gray;
	font-style: italic;
	padding-bottom: 5px;
}


.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
