<footer class="footer">
	<small>
		<span class="info"><%= @site_info.title %></span>
		<span class="info"><%= @site_info.address %></span>
		<span class="info"><%= @site_info.phone %></span>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contact",	contact_path %></li>
		</ul>
	</nav>
</footer>
