<footer class="footer">
	<small>
		<span class="info">Montgomery Hills Baptist Church</span>
		<span class="info">9727 Georgia Ave. Silver Spring, MD 20910</span>
		<span class="info">301-681-7990</span>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contact",	contact_path %></li>
		</ul>
	</nav>
</footer>
