<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to @site_info.title, root_path, class: "brand" %>
			<nav>
				<%-# m = MenuSystem.new(self, @site_info, @articles) -%>
				<%= @ms.navbar_html %>
				<%-# m.test1(self) -%>
			</nav>
		</div>
	</div>
</header>
