
<div class="navbar">
	<div class="navbar-inner">
		<%-# menu_test(self, @site_info) -%>
		<%= menu_sys_test(self, @site_info, @articles) %>
	</div>
</div>


<%-# Mhbc1::Application.routes.inspect -%>