
<div class="navbar">
	<div class="navbar-inner">
		<%-# menu_sys_test(self, @site_info, @articles) -%>
		<% m = MenuSystem.new(self, @site_info, @articles) %>
		<%= m.navbar_html %>
	</div>
</div>


<%-# Mhbc1::Application.routes.inspect -%>