<div class="sidebar">

    <% mb = @ms.create_menu_block %>
    <% if mb != nil %>
        <div class="sidebar-block">
            <%= mb.to_html %>
        </div>
    <% end %>

	<div class="sidebar-block">
		<h2>Weekly Schedule</h2>
		<%= raw RedCloth.new(@site_info.weekly).to_html %>
	</div>

	<div class="sidebar-block">
        <% addr = @site_info.address %>
		<%= link_to image_tag('map_icon200.jpg'), "https://maps.google.com/maps?q=#{addr}" %>
	</div>

	<div class="sidebar-block">
		<%= link_to image_tag('calendar_thumb200.jpg'), "/calendar" %>
	</div>

</div>
